<!DOCTYPE html>
<html>
    <head>
        <title>Listing of {{ path }}</title>
        <meta charset="utf-8"/>
        <link href="prism.css" rel="stylesheet"/>
        <style type="text/css">
            body {
                background: #cccccc;
            }
            .file {
                background: #fff;
                padding: 10px;
                margin: 10px;
                box-shadow: 2px 2px 2px #666;
            }
            .warning {
                background: #fc0;
                font-weight: bold;
                padding: 5px;
            }
        </style>
    </head>
    <body>
        <h1>Listing of {{ path }}</h1>
        {% for file in files %}
            <div class="file">
                <h2>{{ file.path }}</h2>
                <p>Recognized filetype: {{ file.type.name }}</p>
                {% if file.issupported() %}
                    <div class="content">
                        <pre>
                            <code class="language-{{ file.type.prism_name }}">
                                {{ file.content }}
                            </code>
                        </pre>
                    </div>
                {% else %}
                    <div class="warning">Not supported</div>
                {% endif %}
            </div>
        {% endfor %}
        <script src="prism.js"></script>
    </body>
</html>
